<FORM ACTION="/{SECTION}{?SEARCH_DEST}" METHOD="GET">
{WHICH_JOBS?<INPUT TYPE="HIDDEN" NAME="WHICH_JOBS" VALUE="{WHICH_JOBS}">:}
{ORDER?<INPUT TYPE="HIDDEN" NAME="ORDER" VALUE="{ORDER}">:}

<P ALIGN="CENTER"><B>Search in
{SEARCH_DEST?{SEARCH_DEST}:{SECTION=cgi-bin/classes.cgi?Classes:{SECTION=cgi-bin/jobs.cgi?Jobs:Printers}}}:</B>
<INPUT TYPE="TEXT" NAME="QUERY" VALUE="{?QUERY}" SIZE="60"> <INPUT
TYPE="IMAGE" SRC="/cups/images/button-search.gif" ALT="Search">
<A
HREF="/{SECTION}{?SEARCH_DEST}{WHICH_JOBS??WHICH_JOBS={WHICH_JOBS}{ORDER?&amp;ORDER={ORDER}:}:{ORDER??ORDER={ORDER}:}}"><IMG
SRC="/cups/images/button-clear.gif" ALT="Clear" CLASS="button"></A></P>

</FORM>
