.imageSlider1 { margin:0;padding:0; height:20px; width:75px; background-image:url("/scrollbg.gif"); }
.imageBar1    { margin:0;padding:0; height:17px; width:10px; background-image:url("/scrfloat.gif"); }
.imageSlider2 { margin:0;padding:0; height:20px; width:75px; background-image:url("/scrollbg.gif"); }
.imageBar2    { margin:0;padding:0; height:17px; width:10px; background-image:url("/scrfloat.gif"); }
.imageSlider3 { margin:0;padding:0; height:20px; width:75px; background-image:url("/scrollbg.gif"); }
.imageBar3    { margin:0;padding:0; height:17px; width:10px; background-image:url("/scrfloat.gif"); }
.imageSlider4 { margin:0;padding:0; height:20px; width:75px; background-image:url("/scrollbg.gif"); }
.imageBar4    { margin:0;padding:0; height:17px; width:10px; background-image:url("/scrfloat.gif"); }
.imageSlider5 { margin:0;padding:0; height:20px; width:75px; background-image:url("/scrollbg.gif"); }
.imageBar5    { margin:0;padding:0; height:17px; width:10px; background-image:url("/scrfloat.gif"); }
.imageSlider6 { margin:0;padding:0; height:20px; width:75px; background-image:url("/scrollbg.gif"); }
.imageBar6    { margin:0;padding:0; height:17px; width:10px; background-image:url("/scrfloat.gif"); }
.imageSlider7 { margin:0;padding:0; height:20px; width:75px; background-image:url("/scrollbg.gif"); }
.imageBar7    { margin:0;padding:0; height:17px; width:10px; background-image:url("/scrfloat.gif"); }