<FORM METHOD="POST" ACTION="/cgi-bin/admin.cgi">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_LOCATION" VALUE="{?printer_location}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_INFO" VALUE="{?printer_info}">
<INPUT TYPE="HIDDEN" NAME="DEVICE_URI" VALUE="{device_uri}">

<H2 CLASS="title">{printer_name}串口设置</H2>

<TABLE>
<TR>
<TH CLASS="label">波特率:</TH>
<TD><SELECT NAME="BAUDRATE">
{[baudrates]<OPTION {?baudrate={baudrates}?SELECTED:}>{baudrates}}
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">奇偶校验:</TH>
<TD><SELECT NAME="PARITY">
<OPTION VALUE="none" {?parity=none?SELECTED:}>无校验
<OPTION VALUE="even" {?parity=even?SELECTED:}>偶校验
<OPTION VALUE="odd" {?parity=odd?SELECTED:}>奇校验
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">数据位数:</TH>
<TD><SELECT NAME="BITS">
<OPTION {?bits=8?SELECTED:}>8
<OPTION {?bits=7?SELECTED:}>7
</SELECT></TD>
</TR>
<TR>
<TH CLASS="label">流控:</TH>
<TD><SELECT NAME="FLOW">
<OPTION VALUE="none" {?flow=none?SELECTED:}>无
<OPTION VALUE="soft" {?flow=soft?SELECTED:}>XON/XOFF (软件)
<OPTION VALUE="hard" {?flow=hard?SELECTED:}>RTS/CTS (硬件)
<OPTION VALUE="dtrdsr" {?flow=dtrdsr?SELECTED:}>DTR/DSR (硬件)
</SELECT></TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/cups/images/button-continue.gif" ALT="继续"></TD>
</TR>
</TABLE>

</FORM>
