<FORM METHOD="POST" ACTION="/cgi-bin/admin.cgi">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_NAME" VALUE="{printer_name}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_LOCATION" VALUE="{?printer_location}">
<INPUT TYPE="HIDDEN" NAME="PRINTER_INFO" VALUE="{?printer_info}">
<INPUT TYPE="HIDDEN" NAME="CURRENT_MAKE_AND_MODEL" VALUE="{?current_make_and_model}">

<H2 CLASS="title">{printer_name}的设备URI</H2>

<TABLE>
<TR>
<TH CLASS="label">设备URI:</TH>
<TD><INPUT TYPE="TEXT" SIZE="60" MAXLENGTH="1024" NAME="DEVICE_URI" VALUE="{device_uri}"></TD>
</TR>
<TR>
<TD></TD>
<TD>例子:
<PRE>
    http://hostname:631/ipp/
    http://hostname:631/ipp/port1

    ipp://hostname/ipp/
    ipp://hostname/ipp/port1

    lpd://hostname/queue

    socket://hostname
    socket://hostname:9100
</PRE>

<P>参考<A HREF="/cups/help/network.html" TARGET="_blank">"网络打印机"</A>以查找您打印机使用的正确URI.</P>

</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/cups/images/button-continue.gif" ALT="Continue"></TD>
</TR>
</TABLE>

</FORM>
