<P><B>警告:</B>真的要删除打印机组
{printer_name}?</P>

<P ALIGN="CENTER"><A HREF="/cgi-bin/admin.cgi?op=delete-class&printer_name={printer_name}&confirm=yes"><IMG
SRC="/cups/images/button-delete-class.gif" ALT="删除打印机组"
CLASS="button"></A></P>
