{#printer_name=0?:
{[printer_name]
<H2 CLASS="title"><A HREF="{printer_uri_supported}">{printer_name}</A>{default_name={printer_name}? (Default Printer):}
{?printer_state_message=?:<SPAN CLASS="message">"{printer_state_message}"</SPAN>}</H2>

<TABLE WIDTH="100%" CLASS="button" CELLSPACING="0" CELLPADDING="0" SUMMARY="{printer_name}">
<TR>
<TD VALIGN=TOP><A HREF="{printer_uri_supported}">
<IMG SRC="/cups/images/classes.gif" CLASS="button" ALT=""></A></TD>
<TD VALIGN=TOP><B>描述信息:</B> {printer_info}<BR>
<B>位置:</B> {printer_location}<BR>
<B>状态:</B> {printer_state=3?idle:{printer_state=4?processing:stopped}},
{printer_is_accepting_jobs=0?rejecting jobs:accepting jobs}, {printer_is_shared=0?not:} published.
{?member_uris=?:<BR>成员: {member_uris}}

<P>
<A HREF="printers.cgi?op=print-test-page&amp;printer_name={%printer_name}">
<IMG SRC="/cups/images/button-print-test-page.gif" ALT="打印机测试页" CLASS="button"></A>
{printer_state=5?
<A HREF="{admin_uri}?op=start-class&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/cups/images/button-start-class.gif" ALT="启动打印机组" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=stop-class&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/cups/images/button-stop-class.gif" ALT="停止打印机组" CLASS="button"></A>
}
{printer_is_accepting_jobs=0?
<A HREF="{admin_uri}?op=accept-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/cups/images/button-accept-jobs.gif" ALT="接受打印作业" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=reject-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/cups/images/button-reject-jobs.gif" ALT="拒绝打印作业" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=purge-jobs&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/cups/images/button-cancel-all-jobs.gif" ALT="取消所有打印作业" CLASS="button"></A>
{printer_is_shared=0?
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=1&amp;is_class=Y">
<IMG SRC="/cups/images/button-publish-printer.gif" ALT="发布(publish)打印机" CLASS="button"></A>
:
<A HREF="{admin_uri}?op=set-sharing&amp;printer_name={%printer_name}&amp;shared=0&amp;is_class=Y">
<IMG SRC="/cups/images/button-unpublish-printer.gif" ALT="不发布(Unpublish)打印机" CLASS="button"></A>
}
<A HREF="{admin_uri}?op=modify-class&amp;printer_name={%printer_name}">
<IMG SRC="/cups/images/button-modify-class.gif" ALT="修改打印机组" CLASS="button"></A>
<A HREF="{admin_uri}?op=delete-class&amp;printer_name={%printer_name}">
<IMG SRC="/cups/images/button-delete-class.gif" ALT="删除打印机组" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-as-default&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/cups/images/button-set-as-default.gif" ALT="设置为默认打印机" CLASS="button"></A>
<A HREF="{admin_uri}?op=set-allowed-users&amp;printer_name={%printer_name}&amp;is_class=Y">
<IMG SRC="/cups/images/button-set-allowed-users.gif" ALT="设置允许的用户" CLASS="button"></A>
</P>
</TD>
</TR>
</TABLE>
}}
