<FORM METHOD="POST" ACTION="/{SECTION}?{job_id?job_id={job_id}:printer_name={printer_name}}">
<INPUT TYPE="HIDDEN" NAME="OP" VALUE="{op}">
{job_id?<INPUT TYPE="HIDDEN" NAME="JOB_ID" VALUE="{job_id}">:}

<H2 CLASS="title">{job_id?移动打印作业 {job_id}:移动所有打印作业}</H2>

<TABLE>
<TR>
<TH CLASS="label">新的目的地:</TH>
<TD>
<SELECT NAME="JOB_PRINTER_URI" SIZE="10">
{[job_printer_uri]<OPTION VALUE="{job_printer_uri}">{job_printer_name}}
</SELECT>
</TD>
</TR>
<TR>
<TD></TD>
<TD><INPUT TYPE="IMAGE" SRC="/cups/images/button-move-job{job_id?:s}.gif" ALT="移动打印作业{job_id?:s}"></TD>
</TR>
</TABLE>

</FORM>
