<P>{is_class?Class:Printer} <A
HREF="/{is_class?/cgi-bin/classes.cgi:/cgi-bin/printers.cgi}?printer_name={printer_name}">{printer_name}</A>
已经被设置为打印服务器上的默认打印机.</P>

<BLOCKQUOTE><B>注:</B> 任何用户可以使用
<TT>lpoptions</TT> 命令覆盖此默认设置.</BLOCKQUOTE>
