<P><B>警告:</B> 真的要删除打印机
{printer_name}?</P>

<P ALIGN="CENTER"><A
HREF="/cgi-bin/admin.cgi?op=delete-printer&printer_name={printer_name}&confirm=yes"><IMG
SRC="/cups/images/button-delete-printer.gif" ALT="删除打印机"
CLASS="button"></A></P>
