</TD>
<TD WIDTH="15">&nbsp;</TD>
</TR>
<TR CLASS="trailer">
<TD VALIGN="BOTTOM" WIDTH="15"><IMG SRC="/cups/images/bottom-left.gif"
WIDTH="15" HEIGHT="15" ALT=""></TD>
<TD COLSPAN="2" WIDTH="100%" STYLE="padding: 5;">

<P><SMALL>日协打印服务器 <A HREF="http://www.assistcn.com">日协研发中心
</A>. 版权所有.</SMALL></P>

</TD>

<TD ALIGN="RIGHT" VALIGN="BOTTOM" WIDTH="15"><IMG SRC="/cups/images/bottom-right.gif"
WIDTH="15" HEIGHT="15" ALT=""></TD>
</TR>
</TABLE>
</BODY>
</HTML>
